<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="CalculatorLogic as logic">
	<header>
		<h1>Waitstaff Calculator</h1>
	</header>
	<section class="container details">
		<h2>Enter the Meal Details</h2>
		<hr size="2px" color="black" width="100%">
		<form ng-submit="logic.calc()" name="mealDetails">
			<label>Base Meal Price: $</label>
			<input ng-model="logic.inputs.base_price" placeholder="0" type="number" min="0" required autofocus><br>
			<label>Tax Rate: %</label>
			<input ng-model="logic.inputs.tax_rate" placeholder="0" type="number" min="0" max="100" required><br>
			<label>Tip Percentage: %</label>
			<input ng-model="logic.inputs.tip_percent" placeholder="0" type="number" min="0" max="100" required><br>
			<input type="submit" value="Submit">
			<button ng-click="logic.clearForm()">Cancel</button>
		</form>
	</section>
	<section class="container charges">
		<div class="charges-title">
			<h2>Customer Charges</h2>
			<hr size="2px" color="black" width="100%">
		</div>
		<div class="charges-content">
			<p>Subtotal: {{logic.subtotal | currency}}</p>
			<p>Tip: {{logic.current_tip | currency}}</p>
			<hr size="2px" color="black" width="100%">
			<p>Total: {{logic.total_cost | currency}} (Taxes: {{logic.taxes | currency}})</p>
		</div>
	</section>
	<section class="container earnings">
		<div>
			<h2>My Earnings Info</h2>
			<hr size="2px" color="black" width="100%">
		</div>
		<div>
			<p>Tip Total: {{logic.tip_total | currency}}</p>
			<p>Meal Count: {{logic.meal_count}}</p>
			<p>Average Tip Per Meal: {{logic.avg_tips | currency}}</p>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>